{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'store' %}" class="btn btn-outline-dark">&#x2190;Continue Shopping</a>
                <br><br>
                <table class="table">
                    
                    <tr>
                        <th>Items : <strong>{{order.get_cart_items}}</strong></th>
                        <th>Total : <span>₹{{order.get_cart_total}}</span></th>
                        <th>
                            <a href="{% url 'checkout' %}" class="btn btn-success btn-sm" style="float: right;">Checkout</a>
                        </th>
                    </tr>

                </table>
            </div>

            <div class="box-element mt-5">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                </div>
                
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img src="{{item.product.imageURL}}" class="row-image"></div>
                        <div style="flex:2"><p>{{item.product.name}}</p></div>
                        <div style="flex:1">₹{{item.product.price}}</div>
                        <div style="flex:1">
                            <p class="quantity">{{item.quantity}}</p>
                            <div class="quantity">
                                <!-- <i class="fa-solid fa-caret-down change-q"></i>
                                <i class="fa-solid fa-caret-up change-q"></i> -->
                                <img data-product="{{item.product.id}}" data-action="add" src="{% static 'images/caret-up.png' %}" class="change-q update-cart"></img>
                                <img data-product="{{item.product.id}}" data-action="remove" src="{% static 'images/caret.png' %}" class="change-q update-cart"></img>
                            </div>
                        </div>
                        <div style="flex:1">₹{{item.get_total}}</div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>

{% endblock %}